<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Fajl2/src/vezbanje/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="vezbanje.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Fajl2"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Fajl2"/>
</launchConfiguration>
